

/* Redundancies and lack of shorthand use is intentional — too many bugs without */


/* Akzidenz Grotesk converted */
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroLig.eot');
  src : url('../fonts/AkzidGroLig.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroLig.woff') format('woff'),
        url('../fonts/AkzidGroLig.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroRom.eot');
  src : url('../fonts/AkzidGroRom.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroRom.woff') format('woff'),
        url('../fonts/AkzidGroRom.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
/* altered Berthold name to make this Italic */
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroRomIt.eot');
  src : url('../fonts/AkzidGroRomIt.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroRomIt.woff') format('woff'),
        url('../fonts/AkzidGroRomIt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroBol.eot');
  src : url('../fonts/AkzidGroBol.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroBol.woff') format('woff'),
        url('../fonts/AkzidGroBol.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
/* altered Berthold name to make this Italic */
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroBolIt.eot');
  src : url('../fonts/AkzidGroBolIt.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroBolIt.woff') format('woff'),
        url('../fonts/AkzidGroBolIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src : url('../fonts/AkzidGroBla.eot');
  src : url('../fonts/AkzidGroBla.eot?#iefix') format('eot'),
        url('../fonts/AkzidGroBla.woff') format('woff'),
        url('../fonts/AkzidGroBla.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
/* End Akzidenz */

/* bodoni typekit */
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* bodoni light */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* bodoni light oblique*/
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* bodoni medium */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* bodoni medium oblique*/
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* bodoni Bold */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* bodoni bold oblique */
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold oblique*/
  font-style: italic;
  font-variant: normal;
}
@font-face {
  font-family: 'bodoni-urw';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 800;/* bodoni extra bold */
  font-style: normal;
  font-variant: normal;
}
/* @import url("https://use.typekit.net/rvi3agd.css"); */
/* end bodoni typekit urw */

/* cantarell family sans serif*/
@font-face {
  font-family: 'cantarell';
  src : url('https://fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i');
}

/* @import url('https://fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i'); */

/* copperplate typekit */
@font-face {
  font-family: 'copperplate';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* copperplate light */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'copperplate';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* copperplate medium */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'copperplate';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* copperplate bold */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'copperplate-condensed';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 300;/* copperplate light condensed */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'copperplate-condensed';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 500;/* copperplate medium condensed */
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'copperplate-condensed';
  src : url("https://use.typekit.net/rvi3agd.css");
  font-weight: 700;/* copperplate bold condensed */
  font-style: normal;
  font-variant: normal;
}
/* @import url("https://use.typekit.net/rvi3agd.css"); */

/* Copperplate Gothic Thirty Three BC made from Font Converter */
@font-face {
  font-family: 'copperplate';
  src : url('../fonts/CoppeThiThrBC.eot');
  src : url('../fonts/CoppeThiThrBC.eot?#iefix') format('eot'),
        url('../fonts/CoppeThiThrBC.woff') format('woff'),
        url('../fonts/CoppeThiThrBC.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
/* end copperplate */

/* guardian Egyption - in master fonts folder — adapted from guss fonts @ github for prototyping */
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-Light.eot');
  src : url('../fonts/GuardianEgyptianWeb-Light.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-Light.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-Regular.eot');
  src : url('../fonts/GuardianEgyptianWeb-Regular.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-Regular.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-RegularItalic.eot');
  src : url('../fonts/GuardianEgyptianWeb-RegularItalic.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-RegularItalic.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-Medium.eot');
  src : url('../fonts/GuardianEgyptianWeb-Medium.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-Medium.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-Semibold.eot');
  src : url('../fonts/GuardianEgyptianWeb-Semibold.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-Semibold.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-SemiboldItalic.eot');
  src : url('../fonts/GuardianEgyptianWeb-SemiboldItalic.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-SemiboldItalic.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-Bold.eot');
  src : url('../fonts/GuardianEgyptianWeb-Bold.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-Bold.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'GuardianEgyptianWeb';
  src : url('../fonts/GuardianEgyptianWeb-BoldItalic.eot');
  src : url('../fonts/GuardianEgyptianWeb-BoldItalic.eot?#iefix') format('eot'),
        url('../fonts/GuardianEgyptianWeb-BoldItalic.woff') format('woff'),
        url('../fonts/GuardianEgyptianWeb-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  font-stretch: normal;
}
/* End Eygption Guardian Web Font from github */


/* Journal - handwriting - in master fonts folder */
@font-face{
  font-family : 'handwriting';
  src : url('../fonts/journal.eot');
  src : url('../fonts/journal.eot?#iefix') format('eot'),
        url('../fonts/journal.woff') format('woff'),
        url('../fonts/journal.ttf') format('truetype');
  font-weight: normal;
  font-style: cursive;
  font-variant: normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'lato';
  src : url('https://fonts.googleapis.com/css?family=Lato');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
}


/* Veteran Typewriter - monospace - in master fonts folder */
@font-face{
  font-family : 'typewriter';
  src : url('../fonts/veteran_typewriter.eot');
  src : url('../fonts/veteran_typewriter.eot?#iefix') format('eot'),
        url('../fonts/veteran_typewriter.woff') format('woff'),
        url('../fonts/veteran_typewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: monospace;
  font-variant: normal;
  font-stretch: normal;
}

/* Ubuntu */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

@font-face {
  font-family: 'Ubuntu'; /* regular */
  src : url('Ubuntu-R-webfont.woff2') format('woff2'),
        url('Ubuntu-R-webfont.woff') format('woff'),
        url('Ubuntu-R-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu'; /* italic */
  src : url('Ubuntu-RI-webfont.woff2') format('woff2'),
        url('Ubuntu-RI-webfont.woff') format('woff'),
        url('Ubuntu-RI-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu'; /* bold */
  src : url('Ubuntu-B-webfont.woff2') format('woff2'),
        url('Ubuntu-B-webfont.woff') format('woff'),
        url('Ubuntu-B-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu'; /* bold italic */
  src : url('Ubuntu-BI-webfont.woff2') format('woff2'),
        url('Ubuntu-BI-webfont.woff') format('woff'),
        url('Ubuntu-BI-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* End Ubuntu */

/* begin font stacks /

/* Times New Roman-based stack */
/*
font-family: Cambria, 'Hoefler Text', Utopia,
  'Liberation Serif' 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
*/
/* Modern Georgia-based serif stack */
/*
font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
  'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
*/
/* Traditional Garamond-based serif stack */
/*
font-family: 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L',
  'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter',
  'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow',
  'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L',
  Georgia, serif;
*/
/* Helvetica/Arial-based sans serif stack */
/*
font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans',
  'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed',
  'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
*/
/* Verdana-based sans serif stack */
/*
font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
  'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
  'Verdana Ref', sans-serif;
*/
/* Monospace stack */
/*
font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
  'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
*/
/* end font stacks */


body {
    font-feature-settings: "liga" 1;
    font-size: 30px;
    line-height: 1.5;
    color: black;
    margin: 0 0 0 1em;
    padding: 0;
    max-width: 25em;
}

@supports (font-variant-ligatures: common-ligatures) {
    body {
        font-feature-settings: normal;
        font-variant-ligatures: common-ligatures;
    }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  body {
    max-width: 20em;
  }
};

p {
  margin: 0;
  padding: 0;
  text-align: left;
}
h1 {
  margin: .5em 0 0 -.125em;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
  text-align: left;
}
hr {
  max-width: 25em;
  margin: -.25em 0 1em 0;
}


/* descriptor lato googleapis light */
.lato {
  font-family: 'Lato', sans-serif;
  font-variant: normal;
  font-style: normal;
  font-weight: 700;
}
.small {
  font-size: .5em;
  margin: 2em 0 .5em 0;
  color: #888888;
}
.medium {
  font-size: .9em;
  font-weight: bold;
  font-variant-caps: all-small-caps;
  letter-spacing: .125em;
  margin: 2em 0 0 0;
  color: #660000;
}
.large {
  font-size: 2.5em;
  line-height: 1.1;
  color: #808080;
}
.caps {
  font-variant-caps: all-small-caps;
  letter-spacing: .02em;
  margin: 1em 0 3em 0;
}
.special {
  line-height: .85;
  letter-spacing: .125em;
}
.special p {
  margin: 1em 0 1.5em 0;
}
.lessltrsp {
  letter-spacing: .03em;
}
.colorbar {
  background-color: #bebebe;
  height: 1em;
  border:0;
  color: #bebebe;
  margin: 0 0 3em 0;
}
/* End descriptor styles */


/* Begin styles for fonts in alpha order by family */

/* Akzidenz Grotesk Converted */
.akzidenz {
  font-family: 'Akzidenz-Grotesk', serif;
  font-variant: normal;

}
.akzidenzLight {
  font-style: normal;
  font-weight: 300;
  letter-spacing: .02em;
  word-spacing: -.01em;
}
.akzidenzReg {
  font-style: normal;
  font-weight: 400;
  letter-spacing: .02em;
  word-spacing: -.02em;
}
.akzidenzRegItalic {
  font-style: italic;
  font-weight: 400;
  letter-spacing: .01em;
}
.akzidenzBold {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .03em;
  word-spacing: -.01em;
}
.akzidenzBoldItalic {
  font-style: italic;
  font-weight: 700;
  letter-spacing: .01em;
}
.akzidenzBlack {
  font-style: normal;
  font-weight: 800;
  letter-spacing: .03em;
  word-spacing: -.01em;
}

/* bodoni typekit*/
.bodoni {
  font-family: 'bodoni-urw', serif;
  font-variant: normal;
  line-height: 1.125;
}
.bodoniLight {
  font-style: normal;
  font-weight: 300;
}
.bodoniLightOblique {
  font-style: italic;
  font-weight: 300;
}
.bodoniMedium {
  font-style: normal;
  font-weight: 500;
  letter-spacing: .01em;
  word-spacing: .015em;
}
.bodoniMediumOblique {
  font-style: italic;
  font-weight: 500;
  letter-spacing: .01em;
  word-spacing: .015em;
}
.bodoniBold {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .02em;
  word-spacing: .03em;
}
.bodoniBoldOblique {
  font-style: italic;
  font-weight: 700;
  letter-spacing: .02em;
  word-spacing: .03em;
}
.bodoniExtraBold {
  font-style: normal;
  font-weight: 800;
  letter-spacing: .025em;
  word-spacing: .03em;
}
.bodoniExtraBoldOblique {
  font-style: italic;
  font-weight: 800;
  letter-spacing: .025em;
  word-spacing: .03em;
}

/* cantarell googleapis light and light oblique */
.cantarell {
  font-family: 'Cantarell', sans-serif;
  font-variant: normal;
  line-height: 1.35;
}
.cantarellReg {
  font-style: normal;
  font-weight: 400;
}
.cantarellRegOblique {
  font-style: italic;
  font-weight: 400;
}
.cantarellBold {
  font-style: normal;
  font-weight: 700;
}
.cantarellBoldOblique {
  font-style: italic;
  font-weight: 700;
}


/* copperplate and copperplate condensed typekit */
.copperplate {
  font-family: 'copperplate', serif;
  font-variant: normal;
  font-size: .9em;
}
.copperplateLight {
  font-style: normal;
  font-weight: 300;
  letter-spacing: .03em;
  word-spacing: .03em;
}
.copperplateMedium {
  font-style: normal;
  font-weight: 500;
  letter-spacing: .02em;
  word-spacing: .04em;
}
.copperplateBold {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .03em;
  word-spacing: .04em;
}
.copperplateCondensed {
  font-family: 'copperplate-condensed', serif;
  font-variant: normal;
  font-size: .9em;
}
.copperplateCondLight {
  font-style: normal;
  font-weight: 300;
  letter-spacing: .03em;
  word-spacing: .03em;
}
.copperplateCondMedium {
  font-style: normal;
  font-weight: 500;
  letter-spacing: .02em;
  word-spacing: .04em;
}
.copperplateCondBold {
  font-style: normal;
  font-weight: 700;
  letter-spacing: .03em;
  word-spacing: .04em;
}
/* Copperplate Gothic Thirty Three Converted */
.copperplateThirtyThreeBC {
  font-family: 'copperplate', serif;
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
}
/* end copperplate */

/* guardian typeface from github */
.egyption {
  font-family: 'GuardianEgyptianWeb', serif;
  font-variant: normal;
  letter-spacing: .01em;
  word-spacing: .02em;
}
.egyptionLight {
  font-style: normal;
  font-weight: 300;
}
.egyptionReg {
  font-style: normal;
  font-weight: 400;
}
.egyptionRegItalic {
  font-style: italic;
  font-weight: 400;
}
.egyptionMed {
  font-style: normal;
  font-weight: 500;
}
.egyptionSemi {
  font-style: normal;
  font-weight: 600;
}
.egyptionSemiItalic {
  font-style: italic;
  font-weight: 600;
}
.egyptionBold {
  font-style: normal;
  font-weight: 700;
}
.egyptionBoldItalic {
  font-style: italic;
  font-weight: 700;
}
/* End Egyption classes */

/* Journal script handwriting */
.journal {
  font-family: 'handwriting', cursive;
  font-variant: normal;
  font-weight: normal;
  font-style: cursive;
}

/* Veteran Typewriter monospace */
.veteranTypewriter {
  font-family: 'typewriter', monospace;
  font-variant: normal;
  font-weight: normal;
  font-style: monospace;
}
